@keyframes lds-gear {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-webkit-keyframes lds-gear {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.lds-gear > div {
	-webkit-transform-origin: 100px 100px;
	transform-origin: 100px 100px;
	-webkit-animation: lds-gear 4s infinite linear;
	animation: lds-gear 4s infinite linear;
	position: relative;
}

.lds-gear > div div {
	-webkit-transform: translate(-50%, -50%);
	background: #dccf8a;
	height: 192px;
	left: 100px;
	position: absolute;
	top: 100px;
	transform: translate(-50%, -50%);
	width: 26px;
}

.lds-gear > div div:nth-child(1) {
	width: 152px;
	height: 152px;
	border-radius: 50%;
}

.lds-gear > div div:nth-child(3) {
	-webkit-transform: translate(-50%, -50%) rotate(30deg);
	transform: translate(-50%, -50%) rotate(30deg);
}

.lds-gear > div div:nth-child(4) {
	-webkit-transform: translate(-50%, -50%) rotate(60deg);
	transform: translate(-50%, -50%) rotate(60deg);
}

.lds-gear > div div:nth-child(5) {
	-webkit-transform: translate(-50%, -50%) rotate(90deg);
	transform: translate(-50%, -50%) rotate(90deg);
}

.lds-gear > div div:nth-child(6) {
	-webkit-transform: translate(-50%, -50%) rotate(120deg);
	transform: translate(-50%, -50%) rotate(120deg);
}

.lds-gear > div div:nth-child(7) {
	-webkit-transform: translate(-50%, -50%) rotate(150deg);
	transform: translate(-50%, -50%) rotate(150deg);
}

.lds-gear > div div:nth-child(8) {
	background: #fff;
	border-radius: 50%;
	height: 100px;
	width: 100px;
}

.lds-gear {
	-webkit-transform: translate(-29px, -29px) scale(0.29) translate(29px, 29px);
	height: 58px !important;
	transform: translate(-29px, -29px) scale(0.29) translate(29px, 29px);
	width: 58px !important;
}
