.responsive-menu-icon
{
	cursor: pointer;
	display: none;
	height: 2.75rem;
	position: absolute;
	right: 0;
	top: 2rem;
	width: 3.5rem;
	z-index: 99999;
}

.responsive-menu
{
	background: #FFF;
	border-right: 0.1rem solid #000;
	display: none;
	height: 100%;
	left: 0;
	padding: 3.3rem 5%;
	position: fixed;
	top: 0;
	width: 60%;
	z-index: 9999999;
}

.responsive-menu ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}

.responsive-menu ul li
{
	margin-bottom: 1rem;
	position: relative;
	text-align: left;
	width: 100%;
}

.responsive-menu ul li a
{
	color: #003C5E;
	font-family: "Sorts Mill Goudy", Georgia, Times, serif !important;
	font-size: 2.6rem;
	font-weight: 500;
	text-decoration: none;
}

.responsive-menu li ul
{
	display: none;
	margin: 1.5rem;
}

.responsive-menu li.menu-item-has-children
{
	background: url('../images/arrow.png') right 0.8rem no-repeat;
	cursor: pointer;
}

.responsive-menu li.menu-item-has-children a:after { display: none; }
.responsive-menu li ul li { margin-bottom: 0.2rem; }

.responsive-menu li ul li a
{
	font-size: 2.0rem;
	text-decoration: none;
}

.resp-logo
{
	color: #fdfaf5;
	font-family: "Source Sans Pro";
	font-size: 4rem;
	height: auto;
	margin-bottom: 3rem;
	position: relative;
	text-align: left;
	text-transform: uppercase;
	width: 100%;
}

.resp-logo img
{
	height: auto;
	margin-right: 20%;
	width: 80%;
}

.responsive-menu form.gsc-search-box,
.responsive-menu table.gsc-search-box
{
	margin-bottom: 0 !important;
	max-width: 300px;
}

.responsive-menu .gsc-search-box .gsc-input
{
	border: none;
	margin: 0;
	padding: 0 4px 0 6px !important;
}

.responsive-menu #gsc-iw-id1
{
	border-width: 0 !important;
	box-shadow: none !important;
	height: auto !important;
	padding: 0 !important;
}

.responsive-menu #gs_tti50
{
	border: none;
	padding: 0 !important;
}

.responsive-menu #gsc-i-id1
{
	background: none !important;
	height: 33px !important;
	padding: 0 !important;
	text-indent: 0 !important;
}

.responsive-menu .gsib_b { display: none; }

.responsive-menu button.gsc-search-button
{
	border-width: 0 !important;
	box-shadow: none !important;
	box-sizing: content-box !important;
	cursor: pointer;
	display: block;
	height: 13px !important;
	margin: 0 !important;
	outline: none;
	padding: 10px 6px 10px 13px !important;
	width: 13px !important;
}

.responsive-menu .gsc-branding { display: none !important; }
.responsive-menu .gsc-control-cse, .responsive-menu #gsc-iw-id1 { background-color: transparent !important; }

@media all and (max-width: 1220px)
{
	.wrapper { max-width: 1024px; }

	.sidebar img
	{
		height: auto;
		max-width: 100%;
	}

	.main-content .content .features .teaser h1
	{
		font-size: 2.1rem;
		line-height: 2.8rem;
		margin-bottom: 1.5rem;
	}

	.main-content .content .features .teaser .date { padding-bottom: 1rem; }
	.main-content .content .articles article h2 { width: 75.5%; }
	.main-content .content .articles article .comments { width: 21%; }
}

@media all and (max-width: 1024px)
{
	.wrapper { max-width: 768px; }
	.home .main-content .content { padding: 0; }
	.single .main-content .content { padding: 0; }

	.header .wrapper .container
	{
		margin: 0 2.5rem;
		width: calc(100% - 5rem);
	}

	.header .logo { margin-bottom: 2.5rem; }

	.header .logo img
	{
		height: auto;
		margin: 0 15%;
		width: 70%;
	}

	.header .main-menu { display: none; }
	.responsive-menu-icon { display: block; }

	.responsive-menu-icon:before
	{
		background: #dccf8a;
		box-shadow: 0 0.9rem 0 0 #dccf8a, 0 1.8rem 0 0 #dccf8a;
		content: "";
		height: 0.4rem;
		left: 0;
		position: absolute;
		width: 3.5rem;
	}

	.main-content .content
	{
		margin: 0 2.5rem;
		width: calc(100% - 5rem);
	}

	.the-content img
	{
		max-width: 100%;
		height: auto;
	}

	.wp-caption { max-width: 100%; }

	.main-content .sidebar
	{
		margin: 0 2.5rem;
		width: calc(100% - 5rem);
	}

	.main-content #custom_html-4
	{
		height: auto;
		margin-right: 0;
		width: 100%;
	}

	.main-content #custom_html-4 img
	{
		height: 54px;
		width: 54px;
	}

	.main-content .sidebar .widget:first-child { margin-top: 3rem; }

	.main-content .sidebar .widget_text
	{
		float: left;
		margin-right: 2rem;
		width: calc(33.33% - 2rem);
	}

	#text-27 { width: 100%; }

	.main-content .sidebar .widget_text img
	{
		height: auto;
		width: 100%;
	}
}

@media all and (max-width: 1024px) and (min-width: 769px)
{
	.main-content .sidebar .widget_text:nth-child(3n+4) { margin-right: 0; }
	.main-content .sidebar .widget_text:nth-child(3n+5) { clear: both; }
}

@media all and (max-width: 768px)
{
	.header .logo { text-align: left; }

	.header .logo img
	{
		margin: 0;
		text-align: left;
	}

	.main-content .content .features article { display: block; }

	.main-content .content .features .image
	{
		overflow: hidden;
		width: 100%;
	}

	.main-content .content .features .image img { width: 101%; }

	.main-content .content .features .teaser
	{
		display: table;
		height: 177px;
		width: calc(100% - 4rem);
	}

	.main-content .content .features .teaser-inner
	{
		display: table-cell;
		vertical-align: middle;
	}

	.main-content .content .article-selector a
	{
		font-size: 1.2rem;
		padding: 1.25rem 1.25rem;
	}

	.main-content .content .articles article h2
	{
		font-size: 1.8rem;
		width: 62%;
	}

	.main-content .content .articles article h2 small { width: 100%; }
	.main-content .content .articles article .comments { width: 35%; }
	.main-content .content .articles date { font-size: 1.6rem; }
	.main-content .content .articles article { margin-bottom: 3rem; }
	.main-content .content .articles date { margin: 1.75rem 0; }

	.main-content .sidebar .widget_text
	{
		height: auto;
		width: calc(50% - 2rem);
	}

	.sidebar img { max-width: 232px; }
	.main-content .sidebar .widget_text:nth-child(2n+3) { clear: both; }
	.page article .the-content ul { margin: 0 2rem 3rem; }

	.archives-page .author-archives li
	{
		float: left;
		margin-bottom: 0.5rem;
		width: auto;
	}

	.archives-page .author-archives li:after
	{
		content: ", ";
		margin-right: 0.25rem;
	}

	.archives-page .author-archives li:last-child:after { display: none; }

	.video-wrapper
	{
		/* 16:9 */
		height: 0;
		padding-bottom: 56.25%;
		padding-top: 2.5rem;
		position: relative;
	}

	.video-wrapper iframe
	{
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}

	.page-id-19981 .the-content p img
	{
		height: auto;
		width: 100%;
	}

	.wpcf7-form .field.name,
		.wpcf7-form .field.email
	{
		float: left;
		margin-right: 0;
		width: calc(100%);
	}
}

@media all and (max-width: 667px) and (min-width: 320px)
{
	.wpcf7-form input,
		.wpcf7-form textarea
	{
		-webkit-appearance: none;
		font-size: 16px;
		line-height: 1.3em;
		padding-left: 10px;
		padding-right: 10px;
	}

	.wpcf7-form input.wpcf7-submit { font-size: 1.5em; }
}

@media all and (max-width: 539px)
{
	.main-content .sidebar .widget_text
	{
		float: left;
		height: auto;
		margin-right: 0;
		width: 100%;
	}
}

@media all and (max-width: 479px)
{
	.header .logo img { margin-top: 0.5rem; }

	.main-content .content .articles article h2
	{
		font-size: 1.8rem;
		width: 100%;
	}

	.main-content .content .articles article .comments
	{
		margin: 0.75rem 0;
		text-align: left;
		width: 100%;
	}

	.main-content .content .article-selector
	{
		display: inline-block;
		text-align: center;
	}

	.main-content .content .article-selector a
	{
		display: inline-block;
		float: none;
		font-size: 1.4rem;
		padding: 1.5rem;
		text-align: center;
	}

	.footer .widget
	{
		margin-bottom: 3rem;
		margin-right: 0;
		width: calc(100%);
	}

	.footer .widget:last-child { margin-bottom: 0; }
}

@media all and (max-width: 359px)
{
	.main-content .content .features .teaser { height: 195px; }
}
